footer {
    background-color: #a80be6;
    padding: 10px;
}

.footer_div {
    display: flex;
    justify-content: center;
}

.footer-logo {
  width: 120px;
  padding: 10px 0 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; 
    margin-top: 25px;
}

.social-icon {
    width: 50px; 
    height: auto;
    background-color: #5BDB7F;
    padding: 5px;
    border-radius: 30%;
    cursor: pointer; 
}