body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1, h2, h3 { 
    margin-top: 0; 
}

p {
    line-height: 1.5;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    background-color: #5BDB7F;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    border-radius: 6px;
}
