.hero-video {
    grid-column: 1 / -1;     
    margin: 0;
    padding: 0;
  }
  
  .hero-video video {
    margin: 0;
    padding: 0;
    width: 100%;        
    object-fit: cover;
    display: block;      
  }

  #about img {
    width: 100%;       
    height: auto;      
    display: block;   
    border-radius: 10px; 
}

.feature-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px; 
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature-content {
    padding-top: 15px;
}

.feature-box .sub-text {
    font-size: 14px;
    opacity: 0.75;
    margin-top: 6px;
}

.feature-box h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.feature-card p {
    font-size: 16px;
    line-height: 22px;
}

.video {
    margin: 0;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(7, 7, 7, 0.25);
}

.text-box {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.text-box p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.video-btn {
    background-color: #5bdb7f;
    color: #000;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.video-btn:hover {
    background-color: #42b766;
    transform: translateY(-2px);
}

.quick-buy {
    text-align: center;
    margin: 40px 0;
}

.quick-buy-btn {
    padding: 18px 60px;        
    background: #5bdb7f;       
    color: #000;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: inline-block;       
}

.quick-buy-btn:hover {
    background: #42b766;
    transform: translateY(-3px);
    box-shadow: 0 7px 16px rgba(0,0,0,0.30);
}